<ion-content padding>

    <ion-grid>
      <ion-row justify-content-center>
        <img [src]="quadriImg">
      </ion-row>
  
      <ion-row justify-content-center>
        
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()" novalidate>
  
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input #email formControlName="email" type="email"></ion-input>
            <!-- <ion-input #email formControlName="email" type="email" 
            (ionChange)="elementChanged(email)"
              [class.invalid]="!loginForm.controls.email.valid &&
                (emailChanged || submitAttempt)"
                ></ion-input> -->
          </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
            (emailChanged || submitAttempt)">
            <p>Por favor ingresa un email valido</p>
          </ion-item>
  
          <ion-item>
            <ion-label>Constraseña</ion-label>
            <ion-input #password formControlName="password" type="password">
            </ion-input>
            <!-- <ion-input #password formControlName="password" type="password"
              (ionChange)="elementChanged(password)"
              [class.invalid]="!loginForm.controls.password.valid &&
                (passwordChanged || submitAttempt)"
                ></ion-input> -->
          </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
            (passwordChanged || submitAttempt)">
            <p>Tu contraseña debe contener al menos 6 caracteres</p>
          </ion-item>
  
          <ion-button block clear padding type="submit">
            Iniciar sesion
          </ion-button>
  
        </form>
  
      </ion-row>
  
      <ion-row justify-content-center>
        <ion-button block clear padding icon-left (click)="loginGoogle()">
          <ion-icon name="logo-googleplus"></ion-icon>
          Google
        </ion-button>
      </ion-row>
  
    	<ion-row justify-content-center>
        <ion-button block clear padding (click)="logOut2()">
          logout
        </ion-button>
      </ion-row>
      
    </ion-grid>
  
  </ion-content>
  
