<ion-toolbar class="toolbar">
  <ion-item class="date" lines="none">
    <ion-label>Produccion de</ion-label>
    <ion-input class="dateInput" [(ngModel)]="date" (ngModelChange)="dailyProdObj()" type="date"></ion-input>
    <ion-button fill="outline" slot="end" size="small" (click)="back()"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    <ion-button fill="outline" slot="end" size="small" (click)="forward()"><ion-icon name="ios-arrow-forward"></ion-icon></ion-button>
  </ion-item>
</ion-toolbar>

<table class="table" cellspacing="0" cellpadding="0">

    <tr class="headers">
      <td text-center class="columna">
        Proceso
      </td>
      <td text-center class="columna">
        Codigo
      </td>
      <td class="columna">
        <div text-center class="cell-container">
          Produccion
        </div>
        <div class="cell-container" text-center>
          <div class="inner-cell" text-center>u</div>
          <div class="inner-cell" text-center>um</div>
          <div class="inner-cell" text-center>%</div>
        </div>
      </td>
      <td class="columna">
        <div text-center class="cell-container">
            Procesados
        </div>
        <div class="cell-container" text-center>
          <div class="inner-cell" text-center>u</div>
          <div class="inner-cell" text-center>um</div>
        </div>
      </td>
      <td class="columna" *ngIf="!platform.is('mobile')">
        <div text-center class="cell-container">
          Repaso
        </div>
        <div class="cell-container" text-center>
          <div class="inner-cell" text-center>u</div>
          <div class="inner-cell" text-center>um</div>
          <div class="inner-cell" text-center>%</div>
        </div>
      </td>
      <td class="columna" *ngIf="!platform.is('mobile')">
        <div text-center class="cell-container">
          Total 2da
        </div>
        <div class="cell-container" text-center>
          <div class="inner-cell" text-center>u</div>
          <div class="inner-cell" text-center>um</div>
          <div class="inner-cell" text-center>%</div>
        </div>
      </td>
      <td class="columna" *ngIf="!platform.is('mobile')">
        <div text-center class="cell-container">
          2da
        </div>
        <div class="cell-container" text-center>
          <div class="inner-cell" text-center>u</div>
          <div class="inner-cell" text-center>um</div>
          <div class="inner-cell" text-center>%</div>
        </div>
      <td class="columna" *ngIf="!platform.is('mobile')">
        <div text-center class="cell-container">
          Rotos
        </div>
        <div class="cell-container" text-center>
          <div class="inner-cell" text-center>u</div>
          <div class="inner-cell" text-center>um</div>
          <div class="inner-cell" text-center>%</div>
        </div>
      </td>
      <td class="columna" text-center *ngIf="!platform.is('mobile')">Det</td>
    </tr>
  
    <tr class="data" align-items-center *ngFor="let mach of dailyProd | objNgfor ; let f = first">

      <td text-center no-padding>
        {{ mach }}
      </td>

      <td class="columna">
        <div *ngFor="let item of dailyProd[mach].logs" text-center class="cell-container">
          {{ buildCode(item) }} - {{getUnit(item.dim)}}
        </div>
      </td>

      <td class="columna">
        <div *ngFor="let item of dailyProd[mach].logs" class="cell-container"
        [ngClass]="{success: successP(toSalesUnit( [item.prod], item.dim) )}">
          <div text-center class="inner-cell"> {{ item.prod }} </div>
          <div text-center class="inner-cell"> {{ toSalesUnit( [item.prod], item.dim) }} </div>
          <div text-center class="inner-cell"> {{ +item.prod / +getProcesed(item) * 100 | number : '1.0-1' }} </div>
        </div>
      </td>

      <td class="columna">
        <div *ngFor="let item of dailyProd[mach].logs" class="cell-container">
          <div text-center class="inner-cell"> {{ getProcesed(item) }} </div>
          <div text-center class="inner-cell"> {{ toSalesUnit( [getProcesed(item)], item.dim)}} </div>
        </div>
      </td>

      <td class="columna" *ngIf="!platform.is('mobile')">
        <div *ngFor="let item of dailyProd[mach].logs"
        class="cell-container"
        [ngClass]="{danger: dangerS(+item.rep / +getProcesed(item) * 100 ),
          warning: warningS(+item.rep / +getProcesed(item) * 100)}">
          <div text-center class="inner-cell"> {{ item.rep }} </div>
          <div text-center class="inner-cell"> {{ toSalesUnit( [item.rep], item.dim)}} </div>
          <div text-center class="inner-cell"> {{ +item.rep / +getProcesed(item) * 100 | number : '1.0-1' }} </div>
        </div>
      </td>
      
      <td class="columna" *ngIf="!platform.is('mobile')">
        <div 
        *ngFor="let item of dailyProd[mach].logs" 
        class="cell-container" 
        [ngClass]="{danger: dangerS(+get2da(item) / +getProcesed(item) *100 ),
          warning: warningS(+get2da(item) / +getProcesed(item) *100 )}">
          <div text-center class="inner-cell"> {{ +get2da(item) }} </div>
          <div text-center class="inner-cell"> {{ toSalesUnit( [+get2da(item)], item.dim)}} </div>
          <div text-center class="inner-cell"> {{ +get2da(item) / +getProcesed(item) * 100 | number : '1.0-1' }} </div>
          </div>
      </td>

      
      <td class="columna" *ngIf="!platform.is('mobile')">
        <div *ngFor="let item of dailyProd[mach].logs" class="cell-container"
        [ngClass]="{danger: dangerS(+item.seg / +getProcesed(item) * 100 ),
          warning: warningS(+item.seg / +getProcesed(item) * 100)}">
          <div text-center class="inner-cell"> {{ item.seg }} </div>
          <div text-center class="inner-cell"> {{ toSalesUnit( [item.seg], item.dim)}} </div>
          <div text-center class="inner-cell"> {{ +item.seg / +getProcesed(item) * 100 | number : '1.0-1' }} </div>
        </div>
      </td>

      <td class="columna" *ngIf="!platform.is('mobile')">
        <div *ngFor="let item of dailyProd[mach].logs" class="cell-container"
        [ngClass]="{danger: dangerS(+item.broken / +getProcesed(item) * 100 ),
          warning: warningS(+item.broken / +getProcesed(item) * 100)}">
          <div text-center class="inner-cell"> {{ item.broken }} </div>
          <div text-center class="inner-cell"> {{ toSalesUnit( [item.broken], item.dim)}} </div>
          <div text-center class="inner-cell"> {{ +item.broken / +getProcesed(item) * 100 | number : '1.0-1' }} </div>
        </div>
      </td>

      <td class="columna" *ngIf="!platform.is('mobile')">
        <div *ngFor="let item of dailyProd[mach].logs">
          <div text-center class="cell-container">
            <button (click)="routeLog(item.$key)">
              <ion-icon name="eye"></ion-icon>
            </button>
          </div>
        </div>
      </td>

    </tr>
  
  </table>
