.headers, .data, .filters {
  font-size: 0.9rem;
}

.select {
  background-color: rgba(255, 255, 255, 0.88);
  border: none;
  flex: 1;
  // -webkit-appearance: none;
}

.totals {
  font-weight: bold;
  border-bottom: solid 1px;
}

.orderCol {
  cursor: pointer;
}

.data {
  border-bottom: solid 1px;
  border-bottom-color: var(--ion-color-light);
}

.data:hover {
  background-color: var(--ion-color-light);

}

.client {
  cursor: pointer;
}

.client:hover {
  color: var(--ion-color-tertiary);
}