<ion-header>
  
    <ion-toolbar>
      <ion-button *ngIf="platform.is('mobile')">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
      <ion-title>{{submitType === 'new' ? 'Nuevo registro' : 'Editar registro'}}</ion-title>
      <ion-buttons slot="end" *ngIf="!platform.is('mobile')">
        <ion-button (click)="modalCtrl.dismiss()">
          Salir
        </ion-button>
      </ion-buttons> 
    </ion-toolbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="avionForm" (ngSubmit)="onSubmit()">

    <ion-list>

      <ion-item *ngIf="platform.is('mobile')">
        <ion-label position="fixed" class="labelGrey">Fecha</ion-label>
        <ion-datetime formControlName="date" displayFormat="MM/DD/YYYY"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="!platform.is('mobile')">
        <ion-label position="fixed" class="labelGrey">Fecha</ion-label>
        <input class="dateDesktop" formControlName="date" type="date">
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="labelSelect">Tipo</ion-label>					
        <select item-content formControlName="type" class="select">
            <option value=""></option>
          <option *ngFor="let type of data.type | sort:'':true" [ngValue]="type">{{type}}</option>
        </select>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="labelSelect">Cuenta</ion-label>					
        <select item-content formControlName="account" class="select">
          <option value=""></option>
          <option *ngFor="let account of data.account[avionForm.value.type] | sort:'':true" [ngValue]="account">{{account}}</option>
        </select>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="labelGrey">Monto</ion-label>
        <ion-input formControlName="amount" type="text" 
        [value]="onAmountChange(avionForm.get('amount').value)">
        </ion-input>
      </ion-item>
      
      <div *ngIf="showSalesForm">
        
        <ion-item>
          <ion-label position="fixed" class="labelGrey">NP</ion-label>
          <ion-input formControlName="np" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="fixed" class="labelSelect">Vendedor</ion-label>					
          <select item-content formControlName="salesRep" class="select">
              <option value="" disabled selected></option>
              <option>Tarruella Alberto Horacio</option>
              <option>Alejandra Roldan</option>
          </select>
        </ion-item>

        <ion-item>
          <ion-label position="fixed" class="labelGrey">Cliente</ion-label>
          <ion-input formControlName="client" type="text"></ion-input>
        </ion-item>

      </div>

      <ion-item>
        <ion-label position="fixed" class="labelGrey">Obs</ion-label>
        <ion-textarea  rows="5" formControlName="obs"></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-button fill="outline" type="button" [disabled]="!avionForm.valid" (click)="onSubmit()">
      {{submitType === 'new' ? 'Agregar' : 'Actualizar '}}
    </ion-button>
    
    <ion-button margin-start fill="outline" type="button" (click)="toNew()" *ngIf="submitType !== 'new'">
      Nuevo
    </ion-button>

  </form>

</ion-content>
