<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Tablero
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" size-sm="12">
          <app-ac-sales></app-ac-sales>
        </ion-col>
        <ion-col size-lg="6" size-sm="12">
          <app-ac-prod></app-ac-prod>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <app-man-dashboard></app-man-dashboard>
        </ion-col>
      </ion-row>
    </ion-grid>
      
  </ion-content>
