
// para que el split pane no ocupe tanto espacio
.split-pane-md.split-pane-visible>.split-pane-side {
  max-width: 15%;
}

::-webkit-scrollbar {
  display: none;
}

ion-content {
  overflow: scroll;
}

ion-item {
  font-size: 0.9rem;
}

.chart {
  height: 100%;
  width: 100%;
}

.name-label {
  margin-left: 0.4rem;
}

.display-name{
  font-size: 0.8rem;
}

.email {
  font-size: 0.6rem;
}

ion-list-header { 
  margin: 0px;
}

.logout {
  border-top: #dedede 1px solid
}