<!-- <ion-router-outlet></ion-router-outlet> -->

<ion-split-pane [when]="shouldShow()">

  <ion-menu>

    <ion-header>

      <ion-toolbar>

        <ion-item *ngIf="userProfile">
          <ion-avatar slot="start">
            <img [src]="userProfile.photoURL">
          </ion-avatar>
          <ion-label>
            <h2>{{ userProfile.displayName }}</h2>
            <h3>{{ userProfile.email }}</h3>
          </ion-label>
        </ion-item>

        <ion-buttons slot="end">
          <ion-button slot="end" fill="clear" [routerLink]="'/home'">
            <ion-icon slot="icon-only" name="home"></ion-icon>
          </ion-button>
          <ion-button slot="end" fill="clear" (click)="changeShow()">
            <ion-icon *ngIf="disSplit"  slot="icon-only" name="close"></ion-icon>
            <ion-icon *ngIf="!disSplit" slot="icon-only" name="open"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-toolbar>

    </ion-header>

    <ion-content *ngIf="userProfile">

      <ion-list *ngIf="permission('fabrica') || permission('direccion')">
        <ion-menu-toggle auto-hide="false">
          <ion-list-header>
            <ion-label>Mantenimiento</ion-label>
          </ion-list-header>
          <ion-item [routerLink]="['/home/registros-mantenimiento']">
            <ion-icon slot="start" name="list-box"></ion-icon>
            <ion-label>Registro</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list *ngIf="permission('fabrica') || permission('direccion')">
        <ion-menu-toggle auto-hide="false">
          <ion-list-header>
            <ion-label>Compras</ion-label>
          </ion-list-header>
          <ion-item [routerLink]="['/home/compras']">
            <ion-icon slot="start" name="cart"></ion-icon>
            <ion-label>Compras</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-list-header>
            <ion-label>Usuario</ion-label>
          </ion-list-header>
          <ion-item (click)="logOut()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>

  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>