ion-item {
  font-size: 0.9rem;
}

.chart {
  height: 100%;
  width: 100%;
}

.display-name{
  font-size: 0.9rem;
}

.email {
  font-size: 0.7rem;
}

ion-list-header { 
  margin: 0px;
}

.logout {
  border-top: #dedede 1px solid
}