<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button *ngIf="!platform.is('mobile')"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="profileForm">
    
    <ion-list lines="none">

      <ion-avatar (click)="img.click()">
        <img [src]="avatar">
      </ion-avatar>

      <input [hidden]="true" #img type="file" accept="image/*" (change)="uploadFile($event)">

      <ion-item>
        <ion-label class="labelColor" position="fixed">Nombre</ion-label>
        <ion-input #dateInput formControlName="name" type="text"></ion-input>
      </ion-item>

    </ion-list>

  </form>

</ion-content>
